<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <title>Bryan Chu's Resume</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/socket.io-client/socket.io.js"></script>
</head>

<body class="home_state--background" ng-class="navBarAnimation.background" keypress ng-app="app">
    <navbar ng-class="{'navbar--hidden': !navBarAnimation.status}"></navbar>


    <ui-view class="chu-content"></ui-view>
        <script src="/script.js"></script>
</body>

</html>
