<div class="modal-header">
    <h3 class="modal-title">{{content.company}}</h3>
    <ui-gmap-google-map center='map.center' control='control' zoom='map.zoom'></ui-gmap-google-map>
    <ul>
</div>
<div class="modal-body">

        <li>{{content.title}}</li>
        <li>{{content.position}}</li>
        <li>{{content}}</li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
