<nav class="navbar navbar-default navbar-fixed-top" ng-class="navBarAnimation.navBarScroll ? 'navbar--fixed' : 'navbar--relative'">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span ng-repeat="n in spans track by $index" class="icon-bar"></span>
            </button>
            <a class="navbar-brand fa fa-2x fa-home chu_font--shadow" ng-click="navBarAnimation.status=false" ui-sref="home">
                Home
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="{'in': !navCollapsed}">
            <ul class="nav navbar-nav navbar-right">
                <li class="chu_font--shadow" ui-sref-active="active--state" ng-repeat="item in items" ng-if="item !='home'" class="dropdown" dropdown>
                    <a ui-sref="{{ item }}" class="fa {{icons[item]}}">
                        
                      {{ item | uppercase}}
      
                        
                    </a>
                </li>
            </ul>
           <!--  <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Signup / Login</a></li>
                <li class="dropdown" dropdown>
                    <a href="#" class="dropdown-toggle" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span></a>
                    <ul class="dropdown-menu" dropdown-menu>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul> -->
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
