<nav ng-show="navBarAnimation.status" class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span ng-repeat="n in spans track by $index" class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="navBarAnimation.status=false" ui-sref="home">Bryan Chu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" ng-class="{'in': !navCollapsed}">
      <ul class="nav navbar-nav">

         <li ui-sref-active="active" ng-repeat="item in items | orderBy : item" ng-if="item !='home'" class="dropdown" dropdown>
            

            <a ui-sref="{{ item }}">
              {{ item | uppercase}}

            <span ng-if="item =='skills'" class="caret" class="dropdown-toggle" dropdown-toggle></span>
            </a>
          <ul class="dropdown-menu" dropdown-menu>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        
          
          
        </li>

        
      </ul>
       <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Signup / Login</a></li>
        <li class="dropdown" dropdown>
          <a href="#" class="dropdown-toggle" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span></a>
          <ul class="dropdown-menu" dropdown-menu>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


