<!-- <section class="cube">
    <div class="cube__content cube__content--spinning">
        <figure class="cube__content__item front">?</figure>
        <figure class="cube__content__item back">?</figure>
        <figure class="cube__content__item right">?</figure>
        <figure class="cube__content__item left">?</figure>
        <figure class="cube__content__item top">?</figure>
        <figure class="cube__content__item bottom">?</figure>
    </div>
</section>

 -->

 <section class="cube">
    <div class="cube__content cube__content--spinning">
        <figure ng-repeat="item in items | orderBy : item" ng-if="item !='home'" class="cube__content__item {{cubeSides[$index]}}">{{item}}</figure>

    </div>
</section>



 
             <h3 class="lead text-center chu_font--color chu_font chu-font-outline">On weekends, I volunteer as a Teaching Assistant to beginners learn programming through interactuve workshops
            <ul><p>I also enjoy:</p>
            <li>reading reviews on the latest gadgets</li>
            <li>tinkering with the Raspbery Pi</li>
            <li>Manga/Anime</li>
            <li>and of course, learning how to be come a better developer myself, each day</li>
            </li>
            </ul>
            </h3>
         </div>

<section class="cube">
    <div class="cube__content cube__content--spinning">
        <figure class="cube__content__item front">?</figure>
        <figure class="cube__content__item back">?</figure>
        <figure class="cube__content__item right">?</figure>
        <figure class="cube__content__item left">?</figure>
        <figure class="cube__content__item top">?</figure>
        <figure class="cube__content__item bottom">?</figure>
    </div>
</section>




 
                    <div class="row profile_state__content__panel">
                        <div ng-repeat="social in socials" class="col-md-4" card="social">
                        </div>
                    </div>








             <h3 class="lead text-center chu_font--color chu_font chu-font-outline">On weekends, I volunteer as a Teaching Assistant to beginners learn programming through interactuve workshops
            <ul><p>I also enjoy:</p>
            <li>reading reviews on the latest gadgets</li>
            <li>tinkering with the Raspbery Pi</li>
            <li>Manga/Anime</li>
            <li>and of course, learning how to be come a better developer myself, each day</li>
            </li>
            </ul>
            </h3>
         </div>

<section class="cube">
    <div class="cube__content cube__content--spinning">
        <figure class="cube__content__item front">?</figure>
        <figure class="cube__content__item back">?</figure>
        <figure class="cube__content__item right">?</figure>
        <figure class="cube__content__item left">?</figure>
        <figure class="cube__content__item top">?</figure>
        <figure class="cube__content__item bottom">?</figure>
    </div>
</section>




 
                    <div class="row profile_state__content__panel">
                        <div ng-repeat="social in socials" class="col-md-4" card="social">
                        </div>
                    </div>
