<!-- <a class="chu-screen-button" ng-click="scrollTo('foo')"><i class="fa fa-hand-o-down fa-5x"></i></a> -->

<div>
    <div class="chu-fullscreen-container">
        <div class="chu-jumbotron">
            <div class="chu-md-font chu-font-color chu-font-outline text-center">Hi, I'm Bryan Chu</div>
            <div class="chu-lg-font chu-font-color chu-font-outline text-center">Full Stack Developer</div>
            <!-- <a ui-sref='profile' class="btn btn-primary chu-button">What to learn more?</a> -->
            <a ui-sref='profile' ng-click="switchPage()" ng-class="{'fade': isFade}" class="btn btn-primary chu-button">What to learn more?</a>
        </div>
    </div>
    
        <div id="foo" class="chu-jumbotron">
            <div class="chu-md-font chu-font-color chu-font-outline text-center">Yo Second.</div>
            <div class="chu-lg-font chu-font-color chu-font-outline text-center">Developer</div>
            <a ui-sref='profile' class="btn btn-primary btn-block">What to learn more about me?</a>
        </div>
    
</div>

