
nav {
    position: relative;
    &.navbar{
        margin-bottom:0;
    }
    // left: 0;
    // right: 0;
    &.ng-hide {
        
    }
    &.ng-hide-add {
        // @include prefix('transition', 'all 0.1s ease-out');
        @include prefix('animation-duration', '0.5s');
        @include prefix('animation-delay', '1s');
     
        @extend .animated;
        @extend .zoomOut;
        // @include prefix('transform', 'translate3d(0,-5vh,0)');
    }

    &.ng-hide-remove {
        // @include prefix('transform', 'translate3d(0,0,0)');
        // @include prefix('transition', 'all 0.25s ease-in');
        @include prefix('animation-duration', '0.5s');
        // @include prefix('animation-delay', '1s');
        @extend .animated;
        @extend .slideInDown;
    }
 
}

.navbar--hidden {
    visibility: hidden;
    font: 25px;
    opacity: 0;
}
