navbar {
    & li>a:focus {
        outline:none;
    }
    // & li.active--state {
    //     background: $chu_background--color--fade;
    // }
    @include prefix('transition', 'background 0.5s ease-in-out');
    @include prefix('transition', 'border 0.5s ease-in-out');
    font-weight: bold;
    // position:fixed;
    //z-index:10;
    &.navbar {
        margin-bottom: 0;
    }
    // left: 0;
    // right: 0;
    &.ng-hide {}
    &.ng-hide-add {
    @include prefix('animation-duration', '0.5s');    
        @extend .animated;
        @extend .fadeOutUpBig;    
    
        // @include prefix('animation-delay', '1s');
        
        
    }
    //this is when you add the navbar ===true
    &.ng-hide-remove {
        @include prefix('animation-duration', '0.5s');    
        @extend .animated;
        @extend .fadeInDownBig;
        // @include prefix('animation-duration', '1s');
        // @include prefix('animation-delay', '1s');
        // @extend .animated;
        // @extend .flipOutY;
    }
}



.navbar--relative{
     // @include prefix('animation-duration', '0.1s');
         
        background-color:rgba(0,0,0,0);
        border-color:rgba(0,0,0,0);
        // font-weight: bold;
        // position: relatve;
        // z-index: auto;
    &.navbar--relative-add{
        // @extend .animated;
        // @extend .fadeInDown;
    }
    // &.navbar--relative-remove{
    //     @extend .animated;
    //     @extend .fadeOutUp;
    // }
}

.navbar--fixed{
     // @include prefix('animation-duration', '0.1s');
      
        background-color:rgba(0,0,0,0.75);
        border-color:rgba(0,0,0,0.75);
        // color: red;
        // font-weight: bold;
        // position:fixed;
        // top:0;
        // left:0;
        // right:0;
        // z-index:10;
    &.navbar--fixed-add{
        // @extend .animated;
        // @extend .fadeInDown;
    }
    // &.navbar--fixed-remove{
    //     @extend .animated;
    //     @extend .fadeOutUp;
    // }
}



// .navbar--hidden {
//     visibility: hidden;
//     // font: 25px;
//     opacity: 0;
// }

.navbar-default {
    @include prefix('transition', 'border 1s ease-in-out');
}

 
.navbar-default a.navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > .active > a:hover{
    background-color: rgba(100,100,100,0.4);    
 }

// .navbar-default a.navbar-brand:hover,
// .navbar-default .navbar-nav > li > a:hover {
//     color: black;
// }
.navbar-default a.navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > .active > a {
    color: red;
}

// Override Navbar brand
.navbar-brand {
    text-align:center;
    i {
        display: inline-block;
        vertical-align: middle;
    }
}

.nav > li:focus {
    outline: none;
}

