
.chu-content {
    position: absolute;
    left: 0;
    right: 0;
    &.ng-enter {
        @include prefix('animation-duration', '1s');        
        
        &>.home_state {
            @extend .animated;
            @extend .fadeIn;
        }
        // & .home_state__content {
        //     @extend .animated;
        //     @extend .slideInLeft;
        //}
        &>.profile_state {
            @extend .animated;
            @extend .lightSpeedIn;
            // @extend .flipInY;
        }
        // & .profile_state__content {
        //     // @extend .animated;
        //     // @extend .slideInLeft;
        // }
        &>.experiences_state {
            // @extend .animated;
            // @extend .bounceIn;
        }
        &>.contact_state{
            @extend .animated;
            @extend .flipInX;
        }
        // & .experiences_state__content {
        //     @extend .animated;
        //     @extend .slideInLeft;
        // }
    }
    &.ng-leave {
        @include prefix('animation-duration', '1s');
        &>.home_state {
            @extend .animated;
            @extend .fadeOut;
        }
        // & .home_state__content {
        //     // @extend .animated;
        //     // @extend .fadeOutDown;
        // }
        &>.profile_state {
            @extend .animated;
            @extend .fadeOut;
        }
        // & .profile_state__content {
        //     @extend .animated;
        //     @extend .fadeOutDown;
        // }
        &>.experiences_state {
            @extend .animated;
            @extend .bounceOut;
        }
        &>.contact_state{
            @extend .animated;
            @extend .flipOutX;
        }
        // & .experiences_state__content {
        //     @extend .animated;
        //     @extend .fadeOutDown;
        // }
    }
}

