$chu-font-color: rgb(255, 255, 255);

.chu-font-color {
	color: $chu-font-color;

}

.chu-font-outline {
	text-shadow: 1px 1px 1px rgb(119,119,199);
	@include prefix('font-smoothing', 'antialiased');
}


.chu-md-font {
    font-size:4vw;
}

.chu-lg-font {
    font-size:5vw;
    font-weight:bold;
}

.chu-button{
	margin-top: 1%;
	float:right;
	margin: 0 0.5%;
}	


.chu-screen-button {
	// 
	//position:absolute;
	top: 80vh;
	left:50%;
	box-sizing: border-box;
	// @include prefix('transition', 'all 1.5s');
	color:white;

	
}
