$chu-font-color: rgb(255, 255, 255);

.chu-font-color {
	color: $chu-font-color;

}

.chu-font-outline {
	text-shadow: 1px 1px 1px rgb(119,119,199);
	@include prefix('font-smoothing', 'antialiased');
}

.chu-fullscreen-container{
    width: 100vw;
    height: 100vh;    
    position:relative;
    @include prefix('transition', 'all 2s');
    background-color: rgba(0,0,0,0.7);
}


.chu-jumbotron {
    float:left;
    margin: 25vh 20vw;

}

.chu-md-font {
    font-size:4vw;
}

.chu-lg-font {
    font-size:5vw;
    font-weight:bold;
}

.chu-button{
	margin-top: 1%;
	float:right;
}	


.chu-screen-button {
	// 
	//position:absolute;
	top: 80vh;
	left:50%;
	box-sizing: border-box;
	// @include prefix('transition', 'all 1.5s');
	color:white;
	
}
