body{
  // transition: background ease-in-out 0.5s;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    position: relative;
    @extend .animated;
    @extend .fadeIn;
}

$chu-font-color: rgb(255, 255, 255);

$chu-font:'Roboto Condensed';

.chu-font-color {
	color: $chu-font-color;
	font-family: $chu-font;

}

.chu-font-outline {
	text-shadow: 1px 1px 1px rgb(119,119,199);
	@include prefix('font-smoothing', 'antialiased');
}


.chu-md-font {
    font-size:4vmax;
}

.chu-lg-font {
    font-size:5vmax;
    font-weight:bold;
}


.chu-screen-button {
	// 
	//position:absolute;
	top: 80vh;
	left:50%;
	box-sizing: border-box;
	// @include prefix('transition', 'all 1.5s');
	color:white;

	
}

.nyc {
    height: 100vh;
    width: 100vw;
    background-image: url('/asset/nyc-wall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position:relative;
}

.nyc-fade{
    background-color: rgba(0,0,0,.35);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

html, body{
  height:100%;
}


