

$chu_font--color: rgb(102, 102, 102);
$chu_background--color: rgb(244,244,244);
$chu_background--color--fade: rgba(244,244,244, 0.8);

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$chu-font: 'Raleway', sans-serif;

// $chu-font:'Roboto Condensed';

.chu_font {
    font-family: $chu-font;
    color: white;
}

.chu_font--color {
	color: $chu_font--color;
}

body {
    font-family: $chu-font;
     box-sizing: border-box;
     height: 100vh;
     @include prefix('background', '1s ease-in-out');
}
.chu_font--outline {
	text-shadow: 1px 1px 1px rgb(119,119,199);
	@include prefix('font-smoothing', 'antialiased');
}


.chu_font--md {
    font-size:4vmax;
}

.chu_font--lg {
    font-size:5vmax;
    font-weight:bold;
}


.chu-screen-button {
	// 
	//position:absolute;
	top: 80vh;
	left:50%;
	box-sizing: border-box;
	// @include prefix('transition', 'all 1.5s');
	color:white;

	
}

.nyc {
    height: 100vh;
    width: 100vw;
    background-image: url('/asset/nyc-wall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position:relative;
}

.nyc-fade{
    background-color: rgba(0,0,0,.35);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}




