@import "../../node_modules/bootswatch-sass/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables";
@import "../../node_modules/bootswatch-sass/slate/_variables";

@import "../../node_modules/bootswatch-sass/bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap";
@import "../../node_modules/bootswatch-sass/slate/_bootswatch";

@import "../../node_modules/font-awesome/scss/_variables";
@import "../../node_modules/font-awesome/scss/font-awesome";

@import "../app/pages/experience/experience";
@import "../app/pages/profile/profile";


a {
	color:#a1a1a1;
}

a:hover{
	color:white;
}


