@import "../../node_modules/bootswatch-sass/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables";
@import "../../node_modules/bootswatch-sass/simplex/_variables";

@import "../../node_modules/bootswatch-sass/bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap";
@import "../../node_modules/bootswatch-sass/simplex/_bootswatch";

@import "../../node_modules/font-awesome/scss/_variables";
@import "../../node_modules/font-awesome/scss/font-awesome";


@import "vendor-prefix";
@import "./shared/card";
@import "./shared/navbar";
@import "./components/experience";
@import "./components/profile";
@import "./components/skill";
@import "./components/home";

@import "chu";

.nyc {
    height: 100vh;
    weight: 100vh;
    background-image: url('/asset/nyc-wall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.2);
}

