
.modal-content {
    margin-top: 25%;
    opacity: 0.95;
  
}


// .modal-backdrop.in{
//     @include prefix('transition', 'all 0.1s ease-in-out');
//     opacity:0.5;
//     &.enter{
//         opacity:0.5;
//     }
//     &.leave{
//         // @include prefix('animation-duration', '.75s');
//         @include prefix('transition', 'all 0.05s ease-in-out');
//         opacity:0.5;
//         // @include prefix('transition', 'opacity 0.1s linear');
//     }
//     &.leave-active {

//     }
// }

// div[modal-render=true] {
//     &.leave {
//         @include prefix('animation-duration', '.75s');
     
//     }
//     &.leave-active {
//         @extend .animated;
//         @extend .lightSpeedOut;
//     }
// }

.experiences_state--background {
    background-image: url('/asset/macbook_coffee.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.experiences_state {
    min-height: 100vh;
    width: 100vw;    
    position: relative;
}

.experience_state__timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

$timeline_border_width: 3px;
// this makes the vertical line
.experience_state__timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: $timeline_border_width;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -($timeline_border_width/2);
}

.experience_state__timeline > li {
    margin-bottom: 20px;
    position: relative;
}

//this creates the seperation
.experience_state__timeline__item:before,
.experience_state__timeline__item:after {
    content: " ";
    display: table;
}

.experience_state__timeline__item:after {
    clear: both;
}

a[ng-click="open()"]:hover {
    cursor: pointer;
    text-decoration: none;
    & .experience_state__timeline__item__badge{
        border: 10px solid red;
    }
}

.experience_state__timeline__item__panel:hover {
    border: 2px red solid;
}

.experience_state__timeline__item__panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-sizing: border-box;
    background-color: rgba(222,222,222,0.2);
}

.experience_state__timeline__item__panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
    box-sizing: border-box;
}

.experience_state__timeline__item__panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
    box-sizing: border-box;
}

.experience_state__timeline__item__badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: rgba(222, 222, 222, .2);
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.experience_state__timeline__item-inverted {
    > .experience_state__timeline__item__panel {
        float: right;
    }
    > .experience_state__timeline__item__panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    > .experience_state__timeline__item__panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

.experience_state__timeline__item__panel-title {
    margin-top: 0;
    color: chu_font--color;
}

.experience_state__timeline__item__panel-position {
    float: left;
    color: chu_font--color;
}

.experience_state__timeline__item__panel-date {
    float: right;
    color: chu_font--color;
}
