.chu-content {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 5%;
    // height: 100vh;
    width: 100vw;
    &.ng-enter {
        @include prefix('transition', 'all 1s ease-in-out 2s');
        
        .chu-fullscreen-container {}
    }
    &.ng-enter-active {
        @extend .animated;
        @extend .bounceInLeft;
    }
    &.ng-leave {
        @include prefix('transition', 'all 1s ease-in-out 2s');
        // @include prefix('transition', 'all 1s ease-out');
        .chu-fullscreen-container {
            // background-color: rgba(0, 0, 0, 1);    
        }

    }
    &.ng-leave-active {
        @extend .animated;
        @extend .bounceOutRight;
       
    }
}

.chu-button {
    float: right;
    // @include prefix('transition', 'all 1s ease-in-out');
    // margin: 1 0.5%;
    // @extend .animated;
    // @extend .pulse;
    // @extend .infinite;

}

.chu-button:hover {
    // @extend .chu-lg-font;
    // border: 1px solid white;
    // margin-top: -2px;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    
    // background: rgba(255,255,255,0.2);
}

// .chu-content.ng-leave .chu-jumbotron {}
// .chu-content.ng-leave-active .chu-jumbotron {}
.chu-fullscreen-container {
    width: 100vw;
    // height: 100vh;
    position: relative;
    // @include prefix('transition', 'all 2s');
    // background-color: rgba(0, 0, 0, 0.5);
}

.chu-jumbotron {
    float: left;
    margin: 25vh 25vw;
    // margin:25% 25%;
}

.wrap {
    // @extend .animated;
    // @extend .flash;
    div {
        display: inline;
    }
}

$data: createSequence(19, 0.25);
$animation-duration: 0.33s;
@each $div,
$time in $data {
    .#{$div} {
        @include prefix('animation', 'shrinkgrow ' + $animation-duration + ' ease-in-out 2');
        @include prefix('animation-delay', $animation-duration * $time);
    }
}

@keyframes shrinkgrow {
    0% {
        @include prefix ('transform', 'scale(0)');
    }
    12.5% {
        @include prefix ('transform', 'scale(1)');
        color: red;
    }
    25% {
        @include prefix ('transform', 'scale(1)');
        color: red;
    }
    33% {
        @include prefix ('transform', 'scale(1)');
        color: red;
    }
    100% {
        @include prefix('transform', 'scale(0)');
    }
}
