.profile_state--background {
    background-image: url('/asset/macbook_topdown.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @extend .animated;
    @extend .fadeIn;
}

.profile_state {
    min-height: 100vh;
    width: 100%;
    position: relative;
    .profile_state__content {
        margin-top: 25vh;
        .profile_state__content__panel {
            padding: 20px 0;
            text-align: center;
        }
    }
    .page-header {
        border-bottom: 1px solid rgb(255, 255, 255);
    }
    .jumbotron {
        @include prefix('transition', 'width height margin 1s ease-in-out');
        background-color: $chu_background--color--fade;
        margin: 30px auto;
        // &:hover {
        //     width: 200px;
        //     height: 200px;
        // }
    }
    
}

//bootstrap jumbotron overides

$cube--size: 200px;
$cube--margin: $cube--size/5;
$cube--perspective: $cube--size*2.5;
$cube__content--size: 100%;
$cube__content--translateZ: -($cube--size/2);
$cube__content__item--font: $cube--size/10;
$cube__content--duration: 12s;


.cube {
    width: $cube--size;
    height: $cube--size;
    position: relative;
    margin: 0 auto $cube--margin;
    @include prefix('perspective', $cube--perspective);
}

.cube__content {
    width: $cube__content--size;
    height: $cube__content--size;
    position: absolute;
    @include prefix('transform-style', 'preserve-3d');
    @include prefix('transform', 'translateZ(' + $cube__content--translateZ + ')' );
}

.cube__content:hover{
    @include prefix('animation-play-state', 'paused');
}

.cube__content__item {
 display: block;
      position: absolute;
      width: $cube--size;
        height: $cube--size;
      //border: 2px solid black;
      line-height: $cube--size;
      font-size: $cube__content__item--font;
      font-weight: bold;
      color: red;
      text-align: center;
      background-color: $chu_background--color--fade;

}

.cube__content__item.front {
    @include prefix('transform', 'translateZ(' + $cube__content--translateZ + ')'); 
}

.cube__content__item.back { 
    @include prefix('transform', 'rotateX( -180deg ) translateZ(' + $cube__content--translateZ + ')');
}

.cube__content__item.right {
    @include prefix('transform', 'rotateY( 90deg ) translateZ(' + $cube__content--translateZ + ')');
}

.cube__content__item.left {
    @include prefix('transform', 'rotateY( -90deg ) translateZ(' + $cube__content--translateZ + ')');
}

.cube__content__item.top {
    @include prefix('transform', 'rotateX(  90deg ) translateZ(' + $cube__content--translateZ + ')');
}

.cube__content__item.bottom {
    @include prefix('transform', 'rotateX( -90deg ) translateZ(' + $cube__content--translateZ + ')');
}

.cube__content--spinning{
    @include prefix('animation', 'spinCubeWebkit 12s linear infinite');
    @include prefix('animation', 'spinCubeMoz 12s linear infinite');
    @include prefix('animation', 'spinCubeO 12s linear infinite');
    @include prefix('animation', 'spinCube 12s linear infinite');
}

@-webkit-keyframes spinCubeWebkit {
    0% { @include prefix('transform', 'translateZ(' + $cube__content--translateZ + ') rotateX(0deg) rotateY(0deg)');}
    100% {@include prefix('transform', 'translateZ(' + $cube__content--translateZ + ') rotateX(360deg) rotateY(360deg)');}
}

@-moz-keyframes spinCubeMoz {
    0% { @include prefix('transform', 'translateZ(' + $cube__content--translateZ + ') rotateX(0deg) rotateY(0deg)');}
    100% {@include prefix('transform', 'translateZ(' + $cube__content--translateZ + ') rotateX(360deg) rotateY(360deg)');}
}
@-o-keyframes spinCubeO {
    0% { @include prefix('transform', 'translateZ(' + $cube__content--translateZ + ') rotateX(0deg) rotateY(0deg)');}
    100% {@include prefix('transform', 'translateZ(' + $cube__content--translateZ + ') rotateX(360deg) rotateY(360deg)');}
}
@keyframes spinCube {
    0% { @include prefix('transform', 'translateZ(' + $cube__content--translateZ + ') rotateX(0deg) rotateY(0deg)');}
    100% {@include prefix('transform', 'translateZ(' + $cube__content--translateZ + ') rotateX(360deg) rotateY(360deg)');}
}

