<div class="profile_state" container>
    <div class="profile_state__content ">
        <div class="jumbotron">
            <div class="page-header">
                <h1 class="text-center chu_font--color chu_font chu-font-outline">Who am I?</h1>
                <h2 class="lead text-center chu_font--color chu_font chu-font-outline">I am <span class="underline">new </span> ways to solve problems through software.</h2>
<!-- 
                    <div class="row profile_state__content__panel">
                        <div ng-repeat="social in socials" class="col-md-4" card="social">
                        </div>
                    </div> -->
                
            </div>
        </div>
    </div>
</div>
