<form class="form-horizontal contact_form" name="user" novalidate>
    <fieldset>
        <legend>Please Enter Your Message</legend>

        <div class="form-group required">
            <label class="col-lg-2 control-label">Intent</label>
            <div class="col-lg-10">
                <div class="radio">
                    <label>
                        <input ng-model="user.intent" type="radio" name="intent" value="hire" ng-value="user.intent">To Hire
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input ng-model="user.intent" type="radio" name="intent" value="collaborate"> To Collaborate
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input ng-model="user.email" type="email" class="form-control" id="inputEmail" placeholder="Email" required>
            </div>
        </div>
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Message</label>
            <div class="col-lg-10">
                <textarea ng-model="user.message" class="form-control" rows="3" id="textArea" placeholder="Message"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button ng-click="dismiss()" type="reset" class="btn btn-default">Cancel</button>
                <button ng-click="save()" type="submit" class="btn btn-primary" ng-disabled="!user.$valid">Submit</button>
            </div>
        </div>
        </div>
    </fieldset>
</form>
